MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/?retryWrites=true&w=majority&appName=AppName
JWT_SECRET=your_super_secret_jwt_key_min_64_characters_long_cryptographically_secure
PORT=5000
